%p#notice= notice

%p
  %b Name:
  = @table.name
%p
  %b Capacity:
  = @table.capacity
%p
  %b Description:
  = @table.description

= link_to 'Edit', edit_table_path(@table)
\|
= link_to 'Back', tables_path
