%h3 Total sale (Dish wise)
= search_form_for @q, url: dish_report_path do |f|
  .row
    .col-md-4
      = f.search_field :created_at_gteq, class: 'form-control date_picker', placeholder: 'From', id: 'from_date', autocomplete: 'off', onkeydown: 'return false', value: (@params[:q][:created_at_gteq]  if @params[:q])
    .col-md-4
      = f.search_field :created_at_lteq, class: 'form-control date_picker', placeholder: 'To', id: 'to_date', autocomplete: 'off', onkeydown: 'return false', value: (@params[:q][:created_at_lteq] if @params[:q])
    .col-md-4
      %button{type: "submit", class: "btn btn-info"} Search
%br


.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Name
        %th Description
        %th Category
        %th.text-right Total Quantity
        %th.text-right Total Sale

    %tbody
      - @line_items.each do |item|
        %tr
          %td= item.dish.name
          %td= item.dish.description
          %td= item.dish.category.name if item.dish.category
          %td.text-right
            %b.text-danger #{item.total_quantity}
          %td.text-right
            %b.text-danger #{format('%.2f' % item.total_sale)}

%p#pdf_link= link_to "Download Report (PDF)", pdfdish_report_path(), target: '_blank', class:'btn btn-success'

.clearfix
  = will_paginate @line_items, renderer: BootstrapPagination::Rails