%h3 Total sale (Dish wise)

.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Name
        %th Description
        %th Category
        %th.text-right Total Quantity
        %th.text-right Total Sale

    %tbody
      - @line_items.each do |item|
        %tr
          %td= item.dish.name
          %td= item.dish.description
          %td= item.dish.category.name if item.dish.category
          %td.text-right
            %b.text-danger #{item.total_quantity}
          %td.text-right
            %b.text-danger #{format('%.2f' % item.total_sale)}

%p#pdf_link= link_to "Download Report (PDF)", pdfdish_report_path(), target: '_blank', class:'btn btn-success'

.clearfix
  = will_paginate @line_items, renderer: BootstrapPagination::Rails