%h3 Sales Total (Date wise)


.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Date
        %th.text-right Total Orders
        %th.text-right Total Discount
        %th.text-right Total Tax
        %th.text-right Total Sale

    %tbody
      - @sales.each do |sale|
        %tr
          %td= sale.sale_date
          %td.text-right
            %b.text-danger #{sale.total_orders}
          %td.text-right
            %b.text-danger #{sale.total_discount}
          %td.text-right
            %b.text-danger #{sale.total_tax}
          %td.text-right
            %b.text-danger #{format('%.2f' % sale.total_sale_amount)}

%p#pdf_link= link_to "Download Report (PDF)", pdforder_report_path(), target: '_blank', class:'btn btn-success'

.clearfix
  = will_paginate @sales, renderer: BootstrapPagination::Rails