%h3 Total sale (Waiter wise)


%table{width:"100%", style:"border: 1px solid;"}
  %thead
    %tr
      %th Date
      %th{align:"right"} Total Orders
      %th{align:"right"} Total discount
      %th{align:"right"} Total Tax
      %th{align:"right"} Total Sales Amount

  %tbody
    - @sales.each do |sale|
      %tr
        %td{style:"border-top: 1px solid;"}= sale.sale_date
        %td{align:"right", style:"border-top: 1px solid;"}
          %b #{sale.total_orders}
        %td{align:"right", style:"border-top: 1px solid;"}
          %b #{sale.total_discount}
        %td{align:"right", style:"border-top: 1px solid;"}
          %b #{sale.total_tax}
        %td{align:"right", style:"border-top: 1px solid;"}
          %b #{format('%.2f' % sale.total_sale_amount)}
