%h5.heading Cart Items
.cart-box-area-scrollable
  .table-responsive
    %table.table
      %thead
        %tr
          %th Name
          %th.text-right Quantity
          %th.text-right Price
          %th.text-right Total Price

      %tbody
        - cart_items.each do |item|
          %tr
            %td= item.dish.name if item.dish
            %td.text-right= item.quantity
            %td.text-right= format('%.2f' % item.price)
            %td.text-right= format('%.2f' % item.total_price)

.invoice-box
  .table-responsive
    %table.inv-table
      %tr
        %td.pull-right.inv-data #{format('%.2f' % sale.total_amount)}
        %td.pull-right Total Price:
      %tr
        %td.pull-right.inv-data #{format('%.2f' % sale.tax)}
        %td.pull-right Tax:
      %tr
        %td.pull-right.inv-data #{format('%.2f' % sale.discount)}
        %td.pull-right Discount:
      %tr
        %td.pull-right.inv-data #{format('%.2f' % sale.net_amount)}
        %td.pull-right Net Amount:
